@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.education_container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.education_subcontainer {
    width: 68%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1.5px #233b5a;
}

#education_title {
    width: 68%;
    font-size: 48px;
    /* font-family: 'Rubik'; */
    font-family: 'Roboto', sans-serif;
    color: #233b5a;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.educations_inst {
    width: 100%;
    padding-inline: 20px;
    display: flex;
    justify-content: space-evenly;
    font-family: "Signika Negative";
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.education_text {
    min-width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 1.5px #233b5a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.progress {
    position: relative;
    padding: 0 1rem 0 3.5rem;
    margin: 2rem 0 0;
    list-style: none;
}

.progress__item {
    position: relative;
    min-height: 75px;
    counter-increment: list;
    padding-left: 0.5rem;

    &:before {
        content: "";
        position: absolute;
        left: -1.6rem;
        top: 33px;
        height: 83%;
        width: 1px;
        border-left: 1px solid #233b5a;
    }

    &:after {
        content: counter(list);
        position: absolute;
        top: 0;
        left: -2.5rem;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: transparent;
        color: #233b5a;
        font-weight: 400;
        font-size: 13px;
        line-height: 2rem;
        text-align: center;
        border: 1px solid #233b5a;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:last-child {
        &:before {
            border: none;
        }
    }

    &.progress__item--completed {
        opacity: 0.7;
        color: #233b5a;
        
        &:after {
            content: "\2713";
            font-weight: 400;
            background: #233b5a;
            color: white;
        }
    }

    &.progress__item--active {
        &:after {
            background-color: #233b5a;
            color: #392A60;
        }
    }
}

.progress__title {
    padding: 0.4rem 0 0.5rem;
    margin: 0;
    font-size: 1.5rem;
}

.progress__info {
    font-size: 13px;
}


@media screen and (max-width: 1200px) {
    .education_subcontainer {
        width: 94%;
    }
    .progress__item {
        width: 100%;
    }
    .education_text {
        width: 90%;
    }
}