@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Signika+Negative&family=Yeseva+One&display=swap');


#linkedinlogo {
    background-image: url("https://pngimg.com/d/linkedIn_PNG14.png");
    background-size: 100% 100%;
}

#githublogo {
    background-image: url("https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/github-512.png");
    background-size: 150% 150%;

}

#facebooklogo {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png");
    background-size: 110% 100%;
}

.navbar {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#navcontainer {
    width: 98%;
    padding: 12px 9vw;
    background-color: #FFFFFF10;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

#my_name {
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #233b5a;
    font-family: 'Rubik';
}

.menu_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.buttons {
    width: 120px;
    height: 40px;
    padding: 18px;
    margin-inline: 10px;
    background-color: #233b5a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Rubik';
    border-radius: 8px;
    cursor: pointer;
}

.menu {
    display: none;
}



@media screen and (max-width: 768px) {
    .menu {
        height: 40px;
        width: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #233b5a;
        border-radius: 8px;
        cursor: pointer;
        padding: 6px;
        gap: 10px;        
        flex-direction: column;
        justify-content: right;
    }
    .menu_container {
        display: none;
    }
    .dropdown-content {
        width: 100px;
        height: fit-content;
        display: flex;
        justify-content: center;
        gap: 1px;
        flex-wrap: wrap;
        position: relative;
        z-index: 12;
        border-radius: 8px;
    }
    .menu_button{
        width: 100px;
        font-size: 18px;
        text-align: center;
        padding: 5px;
        color: white;
        border-radius: 4px;
        background-color: #233b5a;
    }
    .dropdown-content.show {
        display: block;
    }
    .menu_button:active{
        color: #233b5a;
        background-color: white;
    }
}